@model ConcertViewModel

<h2>Koop tickets voor @Model.Artist</h2>
<div class="col">
    <div class="card text-center h-100" style="width: 18rem;">
        <img src="/img/@{
            @Model.ArtistPicture.Replace(" ", string.Empty)
}.png" class="card-img-top border-bottom-1 opacity-0" alt="...">
        <div class="date-box">
            <h5 class="text-uppercase">@Model.Date.DayOfWeek</h5>
            <div class="day">@Model.Date.Day</div>
            <div class="month">MRT. 2025</div>
        </div>
    </div>
</div>
<ul class="list-group">
    @foreach (var item in Model.TicketOffers)
    {
        <li class="list-group-item">
            @item.TicketType @item.Price euro @item.NumTickets beschikbaar <a asp-controller="Order" asp-action="Create" asp-route-id="@item.Id" class="btn btn-outline-primary">Koop ticket</a>
        </li>
    }
</ul>