@model IEnumerable<ConcertViewModel>


<h2>Concert Overzicht</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var item in Model)
    {
            <div class="col">
                <div class="card text-center h-100" style="width: 18rem;">
                    <img src="/img/@{@item.ArtistPicture.Replace(" ", string.Empty)}.png" class="card-img-top border-bottom-1 opacity-0" alt="...">
                    <div class="date-box">
                        <h5 class="text-uppercase">@item.Date.DayOfWeek</h5>
                        <div class="day">@item.Date.Day</div>
                        <div class="month">MRT. 2025</div>
                        @if (item.NumberOfTickets > 500)
                        {
                            <a asp-controller="Concert" asp-action="Buy" asp-route-id="@item.Id" class="btn btn-outline-primary">Koop tickets</a>
                        }
                        else if (item.NumberOfTickets > 0)
                        {
                            <a asp-controller="Concert" asp-action="Buy" asp-route-id="@item.Id" class="btn btn-outline-warning">Laatste tickets</a>
                        }
                        else
                        {
                            <a asp-controller="Concert" asp-action="Buy" asp-route-id="@item.Id" class="btn btn-outline-danger">Uitverkocht</a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>